% rebase('base.html', title='Bands editor')
<h3>Bands editor</h3>

<div id="example-table"></div>

<i class="si-plus-circle"></i>
<table id="bands">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start, MHz</th>
      <th>Stop, MHz</th>
      <th>Modulation</th>
      <th>Is active</th>
      <th>Actions</tr>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<button>Add new</button>
<script>

const mode_map = {
  0: "LSB",
  1: "LSB-D",
  2: "USB",
  3: "USB-D",
  4: "CW",
  5: "CW-R",
  6: "AM",
  7: "NFM",
};

const table_el = $("#bands>tbody")[0];

var setEditMode = function(e) {
  let row = $(e.currentTarget).parents("tr");
  let data = row.data();
  let cells = row.children();
  cells[0].innerHTML = `<input type="text" value="${data.name}"/>`
  cells[1].innerHTML = `<input type="number" value="${data.start_freq / 1000000}" step="0.001" min="0"/>`
  cells[2].innerHTML = `<input type="number" value="${data.stop_freq / 1000000}" step="0.001" min="0"/>`
  // Add select for modulation
  cells[4].innerHTML = `<input type="checkbox" ${data.type ? "checked" : ""}/>`
  cells[5].innerHTML = '<i class="si-disk action"> <i class="si-close action">'
}

// Load bands
$.get('/api/bands', {}, function(data) {
  for (const i in data) {
    let row = document.createElement('tr');
    row.id = data[i].id;
    $(row).data(data[i]);
    table_el.appendChild(row);

    let name_td = document.createElement('td');
    name_td.textContent = data[i].name;
    row.appendChild(name_td);

    let start_td = document.createElement('td');
    start_td.textContent = data[i].start_freq / 1000000;
    row.appendChild(start_td);

    let stop_td = document.createElement('td');
    stop_td.textContent = data[i].stop_freq / 1000000;
    row.appendChild(stop_td);

    let mode_td = document.createElement('td');
    const mode_str = mode_map[data[i].params.vfoa_mode];
    mode_td.textContent = mode_str;
    row.appendChild(mode_td);

    let active_td = document.createElement('td');
    active_td.textContent = data[i].type ? 'Y': 'N';
    row.appendChild(active_td);

    let actions_td = document.createElement('td');
    let edit_el = document.createElement('i');
    edit_el.className = "si-edit action";
    edit_el.addEventListener("click", setEditMode);
    actions_td.appendChild(edit_el);
    // actions_td.innerHTML = '<i class="si-edit"></i> <i class="si-trash"></i> <i class="si-disk"></i>';
    // actions_td.innerHTML = "<button>Delete</button><br/><button>Save</button>"
    row.appendChild(actions_td);
  }
});

</script>
